<div class="search">
  <form #form="ngForm" (submit)="onSubmit()">
    <input
      type="text"
      placeholder="Buscar Cidade"
      name="city"
      [(ngModel)]="initialCityName"
    />
    <span>
      <fa-icon (click)="onSubmit()"
        animation="fade"
        style="--fa-animation-duration: 5s; cursor: pointer"
        size="lg"
        class="search-icon"
        [icon]="searchIcon"
      ></fa-icon>
    </span>
  </form>
</div>

<app-weather-card *ngIf="weatherDatas" [weatherDatas]="weatherDatas"></app-weather-card>
